<!-- Container (Contact Section) -->
<div id="about" class="container-fluid bg-4">
  <div class="container text-center" >
  <h3 class="margin white">Projects</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Podemos já vislumbrar o modo pelo qual a competitividade nas transações comerciais apresenta tendências no sentido de aprovar a manutenção de alternativas às soluções ortodoxas.</p>
      <img src="images/projects/img1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>No entanto, não podemos esquecer que o comprometimento entre as equipes desafia a capacidade de equalização das diversas correntes de pensamento.</p>
      <img src="images/projects/img2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>O empenho em analisar o início da atividade geral de formação de atitudes apresenta tendências no sentido de aprovar a manutenção do sistema de formação de quadros que corresponde às necessidades.</p>
      <img src="images/projects/img3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <p>Ainda assim, existem dúvidas a respeito de como o surgimento do comércio virtual possibilita uma melhor visão global das condições financeiras e administrativas exigidas.</p>
      <img src="images/projects/img3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>As experiências acumuladas demonstram que o comprometimento entre as equipes cumpre um papel essencial na formulação do remanejamento dos quadros funcionais.</p>
      <img src="images/projects/img1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>É importante questionar o quanto o novo modelo estrutural aqui preconizado faz parte de um processo de gerenciamento de todos os recursos funcionais envolvidos.</p>
      <img src="images/projects/img2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
  </div>
  <br>  
	